.header {
  background-color: var(--mainColor);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-top: 16px;
  padding-bottom: 16px;
}

.header h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
}

.header a {
  text-decoration: none;
  color: #a29bfe;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}

.content {
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 1024px;
  justify-content: space-between;
}

.content > div {
  margin-left: 16px;
  margin-right: 16px;
  text-align: end;
}

@media (max-width: 768px) {
  .content {
    display: block;
    background-size: contain;
    text-align: center;
  }

  .content > div {
    text-align: center;
  }
}
